body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-block {
    width: 100%;
    margin: 10px;
    padding: 10px;
    padding-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.icon-block h2 {
    margin: 0 0 10px 0;
    font-size: 12px;
}
     
.icon-element {
    height: 100px;
    width: 100px;
    float: left;
    position: relative;
}

.icon-element svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-block-element{
    width: 100px;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 3px;
}

.icon-block-element p {
    overflow-wrap: break-word;
    font-size: 9px;
    padding: 2px;
    margin: 0px;
    height: 25px;
    text-align: center;
}

.icon-block-element svg{
    width: 70%;
    height: 70%;
}